#Data Science Tools and Ecosystem

##In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:

1.   Python
2.   R
3.   Matlab
4.   Julia
5.   C++

Some of the commonly used libraries used by Data Scientists include:



1.   Pandas
2.   NumPy
3.   Seaborn
4.   Matplotlib
5.   SciPy
6.   Pytorch
7.   Scikit learn

Data Science Tools

|Data Science Tools|
|--- |
| Apache Spark|
| --- |
| Tableau |
| --- |
| Power BI|
| --- |
| SQL |
| --- |
|EXCEL |

### Below are a few examples of evaluating arithmetic expressions in Python

1.   2+2 = 4
2.   5-2 = 3
3.   4/2 = 2
4.   4 * 4 = 16
5.   4**2 = 16
6.   4%2 = 0

In [ ]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [ ]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

**Objectives**


*   List commonly used libraries for Data Science
*   Create a table for Data Science tools
*   Examples of evaluating arithmetic expressions in Python
*   Converting minutes to hours
*   List popular languages for Data Science
*   Evaluating an arithmetic expression of multiplication and addition

## Tinashe Magada Mwarozva